#topbar {
                
    width:1000px;
    margin: 0 auto;
    background-color: white;
    height:40px;
    margin-top:0
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif, serif
}

#logo {
    margin-top: 10px;
    width: 80px;
    float:left;
    margin-left: 8px;
}

.topbar-section {
    float:left;
    border-left: 1px #cccccc solid;
    height:100%;
    margin-left:8px;
}

#signinlogo {
    height:60%;
    padding-top: 4px
}

#signin-div {
    padding-left: 8px;
    padding-top:10px;
        height:30px;
    float:left;
    padding-right: 20px;
}

#signintext {
    font-weight: bold;
    position: relative;
    left:10px;
    bottom:2px;
}

#wigglyline {
    height:100%;
    width:10px;
}

#belldiv {
    float:left;
    width: 40px
    
   
}

#notif {
    width:20px;
     margin-bottom: 5px;
}

.general-tab {
    padding-top:14px;
    padding-left: 8px;
    font-weight: bold;
    height:26px
    
}
.final-tab{
    padding-top:14px;
    padding-left: 8px;
    height:26px;
    
    font-weight: bold;
    padding-right: 40px;
}


#searchbox {
    padding-top: 10px;
    padding-left: 5px;
    height: 30px;
    float: left;

    
}

#search {
    background-color: lightgray;
    float: left;
    
}

#searchicon {
    width:13%;
    float: left;
}

.clear {
    clear:both;
}

#menubar-container {
    background-color: #BB1919;
    width:100%;
    height:70px;
    margin-top: 0;
    position: relative;
    bottom: 4px
}

#menubar {
     width:1000px;
    margin: 0 auto;
   
    height:40px;
    margin-top:0;
    padding-top: 0;

    
   
   
}

h1 {
    margin:0;
    font-size: 40px;
    padding-top:14px;
    padding-left: 10px;
    float:left;
    color:white;

}

#localnews {
      width:1000px;
    margin: 0 auto;
    color:white;
    
  
    position: relative;
    margin-left:  700px;
    padding-top:20px

   
    

    
}

#menubar2-container {
    background-color: #a91717;
    height:30px;
    width: 100% ;

}

#menubar2 {
    width:1000px;
    margin: 0 auto;
    height:30px;
}

#menubar2 a {
    color:white;
    font-family: sans-serif;
    text-decoration: none;
    padding: 0 10px;
    position:relative;
    top:5px;
    border-right: 1px solid lightcoral;
    }

#more1 {
    border-right: none !important;
}

#pagecontainer {
    width:1000px;
    margin: 0 auto;
   
}

h2 {
    font-weight: normal;
    margin-top:40px;
    font-size: 20px;
    border-bottom: 2px solid #a91717;
    width:100px;
    padding-bottom:2px;
}
#findlocalnews {
    font-size: 20px;
    margin-top: 100px;
}

h3 a {
    color:black;
    text-decoration: none;
    font-size:30px;
    float: left;
    margin-bottom: 10px;
     
}

h3 a:hover {
    color:#1167a8
}

#watchListenTitle {
    font-size:25px;
    float:right;
}

#mainarticle {

width:600px;
height:100px;

}

#article-container {

border-right: 1px solid #cccccc;
margin:0 auto;
width:600px;
padding-right: 20px;           
float: left;
}

#article-summary {
color: #5a5a5a;
width: 300px;

margin:0;
float: left;
}

#asda {
width:300px;
float: left;
}

#article-hr {
color:red;
border-color:#a91717;
width:50px;
margin-bottom: 0;
position: relative;
top:-5px
;
}

#topic-link {
color:#a91717;
text-decoration: none;
border-left:1px solid #cccccc;
padding-left: 10px;
}

.WatchListen {

width: 360px;
height: 500px;
float: right;
margin:0;
margin-bottom: 8px;

}

#WatchListenTitle
{
position: relative;
right:204px;
top:60px;

}

.watchlistenimage{
height:100px;
padding-right: 5px;
float: left;

}

.watchlistentext{
margin:0;
margin-left: 5px;

position: relative;
top:-23px;
font-weight: bolder;


}

.watchlistentext1{
margin:0;


position: relative;
top:-20px;
font-weight: bolder;
float: left;
width:180px;

}

.time {
float: left;
font-size: 10px;
color:gray;
border-right: 1px solid lightgrey;

padding-right: 5px;
position: relative;
top:-18px;

}

.sector {
font-size: 10px;
padding-left: 10px;
float:left;
position: relative;
height:13px;

top:-17px;

}